@* Component for Main Layout *@

@inherits LayoutComponentBase

@* Nav Layout Component *@
<NavMenu />

@* Individual page content will load in main section *@
<main>
    @Body
</main>

@* Footer Layout Component *@
<FooterLayout />