@page "/dashboard"
@layout NoNavLayout

<PageTitle>Goal Grower - Dashboard Page</PageTitle>

<h1>Dashboard Page</h1>
<h2>Coming Soon!</h2>
<p>Will require a unique ID to view</p>

<NavLink href="/addgoal">Go to Add New Goal</NavLink>
<p>Future Add New Goal Redirect</p>

<NavLink href="/goaldetails">Go to Goal Details</NavLink>
<p>Future Goal Details Redirect</p>