@page "/goaldetails"

<PageTitle>Goal Grower - Goal Details Page</PageTitle>

<h1>Goal Details Page</h1>
<h2>Coming Soon!</h2>
<p>Will require a unique ID to view</p>

<NavLink href="/editgoal">Go to Edit Goal</NavLink>
<p>Future Edit Goal Redirect</p>

<NavLink href="/deletegoal">Go to Delete Goal</NavLink>
<p>Future Delete Goal Redirect</p>

<NavLink href="/addtransaction">Go to Add New Transaction</NavLink>
<p>Future Add New Transaction Redirect</p>

<NavLink href="/transactiondetails">Go to Transaction Details</NavLink>
<p>Future Transaction Details Redirect</p>

<NavLink href="/edittransaction">Go to Edit Transaction</NavLink>
<p>Future Edit Transaction Redirect</p>

<NavLink href="/deletetransaction">Go to Delete Transaction</NavLink>
<p>Future Delete Transaction Redirect</p>