@page "/"
@layout NoNavLayout

<PageTitle>Goal Grower - Homepage</PageTitle>

<h1>Home Page</h1>
<h2>Coming Soon!</h2>

<NavLink href="/dashboard">Go to Dashboard</NavLink>
<p>Future Sign In Redirect</p>

<NavLink href="/register">Go to Register</NavLink>
<p>Future Register Redirect</p>